log/
log_with_attention/
venv/
MalGAN/generated_samples/
MalGAN/log_mal_gan/

MalILVR/models/
MalILVR/output/
MalILVR/generated_samples/
MalILVR/venv_ilvr
MalILVR/venv_sklearn
MalILVR/datasets
MalILVR/log_mal_ilvr
MalILVR/scripts/log_guided/
